.sectionBox {
  background-color: #262727;
  height: 100vh;
}
.productBox {
  display: flex;
  justify-content: center;
}
.eachBox {
  background-color: #f1f1f1;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
}

.eachBox > button {
  margin: 0px 10px;
}
