.App {
  /* background-image: linear-gradient(-135deg, rgb(41, 41, 41), rgb(133, 124, 126), rgb(139, 139, 139)); */
  background-color: rgb(80, 79, 79);
  height: max-content;
  min-height: 100vh;
}

.homepage-div {
  position: relative;
}

.homepage-div img {
  width: 100%;
  position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .banner-img {
  background-image: url("https://direct.delhivery.com/assets/images/direct-banner.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
} */
